# storage configuration, default if not set is /data/cameras
STORAGE_PATH=/data/cameras

# authentication configuration, default if not set is /opt/tapes/passwords
PASSWORDS_PATH=/opt/tapes/passwords

# jwt configuration, must be set
JWT_KEY=your-64-character-random-jwt-signing-key-here-make-it-secure

# jwt issuer, default is tapes
JWT_ISSUER=override-default-issuer

# logging level (debug, info, error), default is info
LOG_LEVEL=info
